[run]
omit =
   signal_processing/commands/change_points/visualize.py
   signal_processing/profiling/*.py

[report]
omit =
   signal_processing/commands/change_points/visualize.py
   signal_processing/profiling/*.py
