# Paranoia
*.pem
security.tf

# Python
*.pyc
venv
.coverage
coverage.xml

# Python Shelve
tests/unittest-files/override_responses
tests/unittest-files/override_responses.gz
bin/tests/unittest-files/*

# PyCharm
.idea

# Unit test config file
/config.yml

detect_changes.log

*.egg-info/
