# files should never be checked in
security*
*tfstate*
terraform-prov*
ips.sh
perf.json
.DS_Store
*.rpm
*.pyc
iostat.log*
mongod-ss.log*
pidstat.log*
test_screen_capture.log*
.terraform
*.tar.gz
*.html
clusters/test_*
mongod-replica.log*
.vscode
bin/mc
*.pem