# Paranoia
*.pem
security.tf

# Python
*.pyc
/venv
/.coverage
/coverage.xml

# Python Shelve
tests/unittest-files/override_responses
tests/unittest-files/override_responses.gz
bin/tests/unittest-files/override_responses
bin/tests/unittest-files/override_responses.gz

# PyCharm
.idea

# Unit test config file
/config.yml

# Change points CLI defaults
/.change-points

detect_changes.log

# Created by setup.py
*.egg-info/
/build
/dist
_e_divisive.so
